.searchdiv {
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.logo {
    width: 500px;
    max-width: 600px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar > a {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

.search{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    gap: 10px;   
}
.searchbutton{
    background-color: lightgrey;
    color: black;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    padding: 12px;
    width: 140px;
}
.luckybutton{
    background-color: lightgrey;
    color: black;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    padding: 12px;
    width: 160px;
}


.searchbar {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: solid 2px;
    width: 500px;
    max-width: 600px;
    height: 50px;
    box-sizing: border-box;
    padding-left: 30px;
  }

.advanceds {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.advinputtext{
    width: 180px;
}

.advinput{
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    box-sizing: border-box;
}

.advinputcontainer {
    flex: 1;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: 100%;
    max-width: 500px;
}

.advbutton{
    background-color: #4285F4;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    padding: 12px;
    width: 160px;
    align-self: flex-end;
}

