{% extends "auctions/layout.html" %}

{% block body %}
<div class="container text-center">
    <div class="row justify-content-center">
        {% if items %}
            <h1 class="mb-5">Auctions you have won:</h1>
            {% for item in items %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
                        <div class="card" style="width: 18rem;">
                            <a href="{% url 'listing_page' item.id %}"><img src="{{ item.image_url }}" alt="{{ item.title }}" class="card-img-top"></a>
                            <div class="card-body">
                                <a href="{% url 'listing_page' item.id %}"><h5 class="card-title">{{ item.title }}</h5></a>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.current_price }}$</h6>
                                <p class="card-text line-clamp">{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% else %}
        <h1> You have not won any auctions yet </h1>
        {% endif %}
    </div>
</div>

{% endblock %}