{% extends "auctions/layout.html" %}

{% block body %}
    <form action="{% url 'Create Listing' %}" method="post">
        {% csrf_token %}
        <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Title">
        </div>
        <label for="category">Choose a category</label>
        <select name="category" id="category">
            <option value="" selected disabled>-- Chose a category --</option>
            {% for category in categories %}
                <option value="{{ category.title }}">{{ category.title }}</option>
            {% endfor %}
        </select>
        <label for="bid_start">Starting bid</label>
        <input type="number" id="bid_start" name="bid_start">
        <label for="image_url">URL for image</label>
        <input type="text" id="image_url" name="image_url" placeholder="Image URL">
        <label for="description">Description</label>
        <textarea name="description" placeholder="Describe the item you would like to sell"></textarea>
        <input type="submit" value="Submit">
    </form>
    

{% endblock %}