{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <h2 class="text-center mb-5">Create Listing</h2>
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endif %}
    <form action="{% url 'Create Listing' %}" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
            </div>
            <div class="col">
                <label for="bid_start" class="form-label" >Starting bid</label>
                <div class="input-group">
                    <span class="input-group-text" id="visible-addon">$</span>
                    <input type="number" id="bid_start" name="bid_start" class="form-control" placeholder="Starting bid" step="any" required>
                </div>
            </div> 
            <div class="col">
                <label for="category" class="form-label" >Category</label>
                <div class="form-floating">
                    <select name="category" class="form-select" id="category" required>
                        <option value="" selected disabled>-- NA --</option>
                        {% for category in categories %}
                            <option value="{{ category.title }}">{{ category.title }}</option>
                        {% endfor %}
                    </select>
                    <label for="category">Chose a category</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="image_url" class="form-label">URL for image</label>
            <input type="text" class="form-control" id="image_url" name="image_url" placeholder="Image URL">
        </div>
        <div class="row mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" placeholder="Describe the item you would like to sell" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}