{% extends "encyclopedia/layout.html" %}

{% block title %}
    Editing entry
{% endblock %}

{% block body %}
    <h1>Editing Entry</h1>

    <div>
        <form action="{% url 'edit' %}" method="post">
            {% csrf_token %}
            <h2>Title for the page</h2>
            <input class="search" type="text" name="new_title" style="max-width: 90%" value="{{ title }}">
            <h2>Markdown content for the page</h2>
            <textarea name="new_entry" >{{ content }}</textarea>
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
    </div>

    <div>

    </div>

{% endblock %}