{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
    <h1>Creating new entry</h1>

    <div>
        <form action="{% url 'new' %}" method="post">
            {% csrf_token %}
            <h2>Title for the page</h2>
            <input class="search" type="text" name="new_title" placeholder="Title" style="max-width: 90%;">
            <h2>Markdown content for the page</h2>
            <textarea name="new_entry" placeholder="Content of the new page goes here..."></textarea>
            <div>
                <input type="submit" value="Create">
            </div>
        </form>
    </div>

    <div>

    </div>

{% endblock %}